POSTGRES_URL=""
POSTGRES_PRISMA_URL=""
SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_URL=""
POSTGRES_URL_NON_POOLING=""
SUPABASE_JWT_SECRET=""
POSTGRES_USER=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
POSTGRES_PASSWORD=""
POSTGRES_DATABASE=""
SUPABASE_SERVICE_ROLE_KEY=""
POSTGRES_HOST=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

AMAZON_CLIENT_ID=""
AMAZON_CLIENT_SECRET=""

AMAZON_REFRESH_TOKEN=""
AMAZON_SPAIN_MARKETPLACE_ID=""
AMAZON_EU_ENDPOINT=""
AMAZON_NA_ENDPOINT=""

ALIBABA_SECRET_ID=""
ALIBABA_APP_KEY=""

DECODO_AMAZON_PRODUCTS_APIKEY=""
DECODO_AUTHENTICATION_KEY=""
DECODO_PASSWORD=""
DECODO_ACCESS_TOKEN=""